<ng-template [ngIf]="!responsiveMode">
    <form class="form-inline d-none d-sm-inline-block flex-grow-1 ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input class="bg-light form-control flex-grow-1 border-0 small" type="text" placeholder="Search for a product..." />
            <div class="input-group-append">
                <button class="btn btn-primary border-white py-0" type="button" style="background-color: #F90093;">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</ng-template>

<ng-template [ngIf]="responsiveMode">
    <li class="nav-item dropdown d-sm-none no-arrow">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
        <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
            <form class="form-inline mr-auto navbar-search w-100">
                <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for a product...">
                    <div class="input-group-append">
                        <button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </li>
</ng-template>